<!DOCTYPE html>
<html>
  <body>
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>TSummarizer</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>
  <link rel="stylesheet" href="/static/ostyle.css">
  </head>
    <h1 text-align="center" style="color:white;">Output Summarized Text :</h1><br>
    <textarea id="myInput">{{ res }}</textarea>
    <br><br>
  <div class="footer">
    <footer style="color:white;">By: Ishaan Takkar</footer>
  </div>
  </body>
</html>
